In [1]:
import requests
import json
import csv

In [2]:
import numpy as np
import pandas as pd
import math

In [3]:
MY_API_HEROES = ''

In [4]:
def json_to_csv(data_json, csv_filepath):
    csv_data = open('{}.csv'.format(csv_filepath), 'w', encoding='utf-8')
    csv_writer = csv.writer(csv_data)
    
    for index, entry in enumerate(data_json):
        if index == 0:
            csv_writer.writerow(entry.keys())
        csv_writer.writerow(entry.values())


    csv_data.close()

## Heroes Data

In [5]:
OPEN_DOTA_HEROES = 'https://api.opendota.com/api/heroes/?api_key=' + MY_API_HEROES

def get_heroes_response():
    '''Get heroes data request'''
    try:
        response = requests.get(OPEN_DOTA_HEROES)
        data_json = json.loads(response.content.decode('utf-8'))
    except:
        data_json = None
    return data_json

In [6]:
json_data = get_heroes_response()
json_to_csv(json_data, 'heroes_data')

In [7]:
df = pd.read_csv('heroes_data.csv')
df.head()

,id,name,localized_name,primary_attr,attack_type,roles,legs
0,1,npc_dota_hero_antimage,Anti-Mage,agi,Melee,"['Carry', 'Escape', 'Nuker']",2
1,2,npc_dota_hero_axe,Axe,str,Melee,"['Initiator', 'Durable', 'Disabler', 'Jungler']",2
2,3,npc_dota_hero_bane,Bane,int,Ranged,"['Support', 'Disabler', 'Nuker', 'Durable']",4
3,4,npc_dota_hero_bloodseeker,Bloodseeker,agi,Melee,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini...",2
4,5,npc_dota_hero_crystal_maiden,Crystal Maiden,int,Ranged,"['Support', 'Disabler', 'Nuker', 'Jungler']",2

In [8]:
df['id'].values

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
        93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 119, 120], dtype=int64)

In [22]:
data = {}
for hero_id in df['id'].values:
    data[str(hero_id)] = df[df['id'] == hero_id]['localized_name'].values[0]

In [23]:
with open('hero_name.json', 'w') as outfile:
    json.dump(data, outfile)

## Get Proplayer stats

In [8]:
OPEN_DOTA_PRO_PLAYER = 'https://api.opendota.com/api/proPlayers/?api_key=' + MY_API_HEROES

def get_pro_players_response():
    '''Get heroes data request'''
    try:
        response = requests.get(OPEN_DOTA_PRO_PLAYER)
        data_json = json.loads(response.content.decode('utf_8'))
    except:
        data_json = None
    return data_json

In [9]:
json_data = get_pro_players_response()
json_to_csv(json_data, 'pro_players_data')

In [10]:
pd.read_csv('pro_players_data.csv').head()

,account_id,steamid,avatar,avatarmedium,avatarfull,profileurl,personaname,last_login,full_history_time,cheese,...,last_match_time,name,country_code,fantasy_role,team_id,team_name,team_tag,is_locked,is_pro,locked_until
0,11562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,René,de,1,0,NaN,NaN,False,True,0
1,88018,7.656120e+16,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcommunity.com/profiles/7656119796...,zAHARASAURUS,NaN,2017-06-03T04:59:21.898Z,0.0,...,2018-07-22T21:50:13.000Z,GIFTIG!,NaN,1,983699,Turtlemasters,turtle,False,True,0
2,88470,7.656120e+16,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcommunity.com/id/misterdurst69/,Tzy丶,NaN,2017-03-29T12:29:31.688Z,0.0,...,2018-07-22T15:37:51.000Z,TZY,cn,1,6020739,NaN,NaN,False,True,1502694000
3,145875,7.656120e+16,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcommunity.com/id/lddota/,LD,NaN,NaN,0.0,...,NaN,LD,NaN,0,0,NaN,NaN,False,True,0
4,514364,7.656120e+16,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcdn-a.akamaihd.net/steamcommunity...,https://steamcommunity.com/id/dbr386/,hi im roy,NaN,NaN,0.0,...,2017-12-05T23:01:11.000Z,Roy,us,2,0,Team Red,Red,False,True,0

## Get player heroes stats

In [11]:
OPEN_DOTA_PLAYER_HEROES = 'https://api.opendota.com/api/players/{}/heroes/?api_key=' + MY_API_HEROES

def get_player_stats_response(player_id):
    '''Get player stats request'''
    try:
        response = requests.get(OPEN_DOTA_PLAYER_HEROES.format(player_id))
        data_json = json.loads(response.content.decode('utf-8'))
    except:
        data_json = None
    return data_json

In [12]:
json_data = get_player_stats_response(str(115202971))
json_to_csv(json_data, '115202971')

## Compute score

In [13]:
heroes = pd.read_csv('heroes_data.csv')
heroes = heroes[['id', 'localized_name']]
heroes = heroes.rename(columns={'id': 'hero_id'})
heroes.head()

   hero_id  localized_name
0        1       Anti-Mage
1        2             Axe
2        3            Bane
3        4     Bloodseeker
4        5  Crystal Maiden

In [14]:
players = pd.read_csv('115202971.csv')
players.head()

,hero_id,last_played,games,win,with_games,with_win,against_games,against_win
0,54,1478353341,76,39,49,19,74,44
1,9,1465909434,63,31,107,56,147,69
2,46,1400746310,57,21,39,19,46,25
3,25,1530028662,52,33,45,15,67,37
4,62,1478876242,48,29,98,49,120,66

In [15]:
df = pd.merge(players, heroes, on='hero_id')
df = df[['hero_id', 'localized_name', 'games', 'win']]
df.head()

   hero_id    localized_name  games  win
0       54       Lifestealer     76   39
1        9            Mirana     63   31
2       46  Templar Assassin     57   21
3       25              Lina     52   33
4       62     Bounty Hunter     48   29

In [16]:
## [TODO] Improve the score algorithm
## Algorithm to compute score
df['score'] = df['win'] * df['win'] / df['games']
df['normalized_score'] = 100.0 * df['score'] /  df['score'].sum()
df = df.sort_values(['normalized_score'], ascending=False)
df.head(20)

    hero_id    localized_name  games  win      score  normalized_score
3        25              Lina     52   33  20.942308          5.897525
5        22              Zeus     44   30  20.454545          5.760167
0        54       Lifestealer     76   39  20.013158          5.635869
4        62     Bounty Hunter     48   29  17.520833          4.934010
1         9            Mirana     63   31  15.253968          4.295642
11       48              Luna     32   21  13.781250          3.880913
6        63            Weaver     37   21  11.918919          3.356465
7        64            Jakiro     37   20  10.810811          3.044413
13       44  Phantom Assassin     31   18  10.451613          2.943260
39       30      Witch Doctor     11   10   9.090909          2.560074
15        2               Axe     26   15   8.653846          2.436994
2        46  Templar Assassin     57   21   7.736842          2.178758
9        88      Nyx Assassin     34   16   7.529412          2.120344
10       93             Slark     34   16   7.529412          2.120344
37        8        Juggernaut     11    9   7.363636          2.073660
14       35            Sniper     28   14   7.000000          1.971257
8        26              Lion     37   16   6.918919          1.948424
16        1         Anti-Mage     26   13   6.500000          1.830453
32       67           Spectre     13    9   6.230769          1.754636
23        7       Earthshaker     20   11   6.050000          1.703730

## Get all Pro player heroes stats

In [17]:
def get_pro_stats(account_id):
    data = get_player_stats_response(account_id)
    json_to_csv(data, './pro_players/{}'.format(str(account_id)))
    
    player = pd.read_csv('./pro_players/{}.csv'.format(str(account_id)))
    df = pd.merge(player, heroes, on='hero_id')
    df = df[['hero_id', 'localized_name', 'games', 'win']]
    
    # Score Algo
    df['score'] = df['win'] * df['win'] / df['games']

    df['normalized_score'] = 100.0 * df['score'] /  df['score'].sum()
    df = df.sort_values(['normalized_score'], ascending=False)
    
    return df[['hero_id', 'normalized_score']]

In [18]:
pro_playes = pd.read_csv('pro_players_data.csv')
pro_playes = pro_playes[['account_id', 'personaname']]
pro_playes.head()

   account_id   personaname
0       11562           NaN
1       88018  zAHARASAURUS
2       88470          Tzy丶
3      145875            LD
4      514364     hi im roy

In [19]:
heroes = pd.read_csv('heroes_data.csv')
heroes = heroes[['id', 'localized_name']]
heroes = heroes.rename(columns={'id': 'hero_id'})
heroes.head()

   hero_id  localized_name
0        1       Anti-Mage
1        2             Axe
2        3            Bane
3        4     Bloodseeker
4        5  Crystal Maiden

In [20]:
data = {}
cnt = 0
for pro_player in list(pro_playes['account_id'].values):
    try:
        df = get_pro_stats(pro_player)

        heroes_score = {}
        for i, hero in enumerate(list(df['hero_id'].values)):
            heroes_score[str(hero)] = df['normalized_score'][i]
        data[str(pro_player)] = heroes_score
    except:
        continue
    cnt += 1
    if cnt % 5 == 0:
        print(str(cnt) + ' pro player data collected')

5 pro player data collected
10 pro player data collected
15 pro player data collected
20 pro player data collected
25 pro player data collected
30 pro player data collected
35 pro player data collected
40 pro player data collected
45 pro player data collected
50 pro player data collected
55 pro player data collected
60 pro player data collected
65 pro player data collected
70 pro player data collected
75 pro player data collected
80 pro player data collected
85 pro player data collected
90 pro player data collected
95 pro player data collected
100 pro player data collected
105 pro player data collected
110 pro player data collected
115 pro player data collected
120 pro player data collected
125 pro player data collected
130 pro player data collected
135 pro player data collected
140 pro player data collected
145 pro player data collected
150 pro player data collected
155 pro player data collected
160 pro player data collected
165 pro player data collected
170 pro player data collected
175 pro player data collected
180 pro player data collected
185 pro player data collected
190 pro player data collected
195 pro player data collected
200 pro player data collected
205 pro player data collected
210 pro player data collected
215 pro player data collected
220 pro player data collected
225 pro player data collected
230 pro player data collected
235 pro player data collected
240 pro player data collected
245 pro player data collected
250 pro player data collected
255 pro player data collected
260 pro player data collected
265 pro player data collected
270 pro player data collected
275 pro player data collected
280 pro player data collected
285 pro player data collected
290 pro player data collected
295 pro player data collected
300 pro player data collected
305 pro player data collected
310 pro player data collected
315 pro player data collected
320 pro player data collected
325 pro player data collected
330 pro player data collected
335 pro player data collected
340 pro player data collected
345 pro player data collected
350 pro player data collected
355 pro player data collected
360 pro player data collected
365 pro player data collected
370 pro player data collected
375 pro player data collected
380 pro player data collected
385 pro player data collected
390 pro player data collected
395 pro player data collected
400 pro player data collected
405 pro player data collected
410 pro player data collected
415 pro player data collected
420 pro player data collected
425 pro player data collected
430 pro player data collected
435 pro player data collected
440 pro player data collected
445 pro player data collected
450 pro player data collected
455 pro player data collected
460 pro player data collected
465 pro player data collected
470 pro player data collected
475 pro player data collected
480 pro player data collected
485 pro player data collected
490 pro player data collected
495 pro player data collected
500 pro player data collected
505 pro player data collected
510 pro player data collected
515 pro player data collected
520 pro player data collected
525 pro player data collected
530 pro player data collected
535 pro player data collected
540 pro player data collected
545 pro player data collected
550 pro player data collected
555 pro player data collected
560 pro player data collected
565 pro player data collected
570 pro player data collected
575 pro player data collected
580 pro player data collected
585 pro player data collected
590 pro player data collected
595 pro player data collected
600 pro player data collected
605 pro player data collected
610 pro player data collected
615 pro player data collected
620 pro player data collected
625 pro player data collected
630 pro player data collected
635 pro player data collected
640 pro player data collected
645 pro player data collected
650 pro player data collected
655 pro player data collected
660 pro player data collected
665 pro player data collected
670 pro player data collected
675 pro player data collected
680 pro player data collected
685 pro player data collected
690 pro player data collected
695 pro player data collected
700 pro player data collected
705 pro player data collected
710 pro player data collected
715 pro player data collected
720 pro player data collected
725 pro player data collected
730 pro player data collected
735 pro player data collected
740 pro player data collected
745 pro player data collected
750 pro player data collected
755 pro player data collected
760 pro player data collected
765 pro player data collected
770 pro player data collected
775 pro player data collected
780 pro player data collected
785 pro player data collected
790 pro player data collected
795 pro player data collected
800 pro player data collected
805 pro player data collected
810 pro player data collected
815 pro player data collected
820 pro player data collected
825 pro player data collected
830 pro player data collected
835 pro player data collected
840 pro player data collected
845 pro player data collected
850 pro player data collected
855 pro player data collected
860 pro player data collected
865 pro player data collected
870 pro player data collected
875 pro player data collected
880 pro player data collected
885 pro player data collected
890 pro player data collected
895 pro player data collected
900 pro player data collected
905 pro player data collected
910 pro player data collected
915 pro player data collected
920 pro player data collected
925 pro player data collected
930 pro player data collected
935 pro player data collected
940 pro player data collected
945 pro player data collected
950 pro player data collected
955 pro player data collected
960 pro player data collected
965 pro player data collected
970 pro player data collected
975 pro player data collected
980 pro player data collected
985 pro player data collected
990 pro player data collected
995 pro player data collected
1000 pro player data collected
1005 pro player data collected
1010 pro player data collected
1015 pro player data collected
1020 pro player data collected
1025 pro player data collected
1030 pro player data collected
1035 pro player data collected
1040 pro player data collected
1045 pro player data collected
1050 pro player data collected
1055 pro player data collected
1060 pro player data collected
1065 pro player data collected
1070 pro player data collected
1075 pro player data collected
1080 pro player data collected
1085 pro player data collected
1090 pro player data collected
1095 pro player data collected
1100 pro player data collected
1105 pro player data collected
1110 pro player data collected
1115 pro player data collected
1120 pro player data collected
1125 pro player data collected
1130 pro player data collected
1135 pro player data collected

In [21]:
with open('data.json', 'w') as outfile:
    json.dump(data, outfile)

### Test

In [22]:
with open('data.json') as json_data:
    test = json.load(json_data)

In [23]:
df = pd.DataFrame(test)
df

,11562,88018,88470,145875,514364,690740,758174,1185644,1296625,1522705,...,372273611,372595310,375600147,376376587,380320771,382225911,385750274,389033587,393424689,397462905
1,NaN,2.722944,0.937091,100.0,0.721559,1.020278,0.240423,0.692306,0.597255,0.413706,...,NaN,0.352596,NaN,1.638541,0.309405,3.982976,2.954567,1.098722,0.297777,0.163170
10,NaN,1.166794,1.052196,NaN,NaN,0.216978,0.520793,2.306300,0.791051,0.446418,...,NaN,1.470582,NaN,5.313786,0.364983,3.213039,1.625012,2.844958,NaN,1.332554
100,NaN,NaN,0.141753,NaN,3.710877,0.726096,8.861626,1.173608,0.643014,0.520907,...,NaN,0.334966,NaN,0.047741,2.025888,0.152128,NaN,0.096138,0.595554,0.163170
101,NaN,0.050467,0.165379,NaN,3.006498,0.048217,0.483594,0.820510,2.221675,0.842734,...,NaN,0.000000,NaN,0.190964,0.399034,NaN,NaN,0.040058,0.148889,0.163170
102,NaN,NaN,0.219826,0.0,NaN,1.767193,1.555057,0.266666,0.722147,1.117931,...,2.360225,0.258461,NaN,0.127309,0.476713,0.202837,0.000000,0.080115,0.000000,1.101397
103,NaN,0.201868,0.299208,NaN,NaN,0.016072,9.785661,0.373456,1.616379,2.928652,...,NaN,0.000000,NaN,0.000000,2.683469,NaN,NaN,NaN,NaN,0.027195
104,NaN,0.134578,1.647403,NaN,NaN,0.864340,2.363774,0.365938,0.682585,0.261899,...,0.000000,1.250953,NaN,0.381928,0.446918,0.195593,0.213194,0.942154,0.119111,1.440396
105,NaN,NaN,0.238145,NaN,NaN,NaN,0.711118,0.074074,0.306049,0.108223,...,NaN,NaN,NaN,0.000000,0.297945,NaN,0.165818,0.000000,0.794072,0.163170
106,NaN,0.050467,1.913666,NaN,NaN,0.000000,0.440776,2.726247,2.005538,0.155968,...,NaN,6.149800,NaN,5.370868,2.321212,2.942647,5.380895,5.181620,1.191109,0.391608
107,NaN,NaN,1.166470,NaN,NaN,NaN,0.431960,0.197530,2.544669,2.492316,...,NaN,0.186092,NaN,0.238705,0.342172,0.050709,NaN,0.910783,NaN,0.217560
108,NaN,NaN,0.142887,NaN,0.721559,1.205432,NaN,0.197530,0.012073,0.162898,...,5.394801,0.000000,NaN,NaN,0.148973,NaN,NaN,NaN,0.794072,1.412047
109,NaN,0.322988,0.019845,NaN,NaN,0.154295,0.052893,0.524327,0.118534,0.373258,...,NaN,6.038823,NaN,3.906891,0.614512,4.136527,1.852582,2.103022,0.198518,1.236656
11,NaN,0.360478,0.558979,NaN,NaN,1.181837,0.136011,2.396922,3.755307,0.905545,...,NaN,0.837415,9.230769,7.050484,5.181039,5.935088,1.218398,1.530621,0.000000,3.916077
110,NaN,0.201868,0.390802,NaN,NaN,0.385738,0.282096,0.580971,0.295787,1.294551,...,NaN,0.000000,NaN,0.000000,0.502783,0.000000,NaN,NaN,0.000000,0.163170
111,NaN,NaN,0.248068,NaN,NaN,NaN,0.293850,0.008230,0.618134,1.069277,...,NaN,0.000000,NaN,0.122763,0.000000,NaN,NaN,0.000000,NaN,0.326340
112,NaN,0.302801,0.079382,NaN,0.721559,0.123987,0.000000,0.639998,0.181094,0.879647,...,NaN,0.248123,NaN,0.000000,0.446918,0.621188,0.033164,0.270389,NaN,0.000000
113,NaN,NaN,0.248068,NaN,NaN,0.140269,NaN,0.016461,0.036219,0.790694,...,NaN,0.186092,NaN,0.561659,NaN,0.000000,0.165818,1.735294,10.858478,0.217560
114,NaN,NaN,0.627309,NaN,NaN,0.507330,NaN,0.263374,0.461974,0.061490,...,NaN,0.626837,NaN,1.995884,2.889498,1.082790,0.082909,10.226640,1.905774,1.184492
119,NaN,NaN,0.597697,NaN,0.721559,0.032145,NaN,1.058198,0.118534,0.069572,...,NaN,NaN,NaN,0.095482,1.096981,NaN,NaN,NaN,NaN,0.163170
12,NaN,3.142031,0.013230,NaN,0.721559,1.922041,0.853342,0.411521,0.209551,0.706787,...,NaN,1.773349,NaN,4.202148,0.279324,1.390881,0.872724,2.929925,NaN,0.372960
120,NaN,NaN,2.112700,NaN,NaN,1.350084,1.151894,0.040404,0.291475,2.756398,...,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,1.001439,NaN,1.198944
13,NaN,0.181681,0.000000,NaN,NaN,0.160724,0.575947,4.326119,0.819101,0.235267,...,NaN,0.689230,29.538462,0.740809,0.650063,0.000000,2.072719,0.490705,0.595554,0.652679
14,NaN,0.363362,2.551554,NaN,NaN,4.834547,0.926430,1.606261,3.096457,6.115638,...,4.195956,0.930461,NaN,0.312487,2.593301,0.067612,0.213194,1.446078,0.119111,0.582749
15,NaN,1.337867,0.571548,NaN,NaN,1.207529,0.282096,0.314489,0.326874,0.402614,...,0.000000,0.357870,NaN,1.031207,0.588050,0.152128,0.442180,0.452415,0.595554,0.741681
16,NaN,3.415977,2.797089,NaN,0.721559,1.133599,0.224018,2.258349,1.999060,0.267244,...,NaN,0.148874,NaN,0.198921,1.485765,0.608510,0.055273,0.160230,3.049960,0.660838
17,NaN,3.925603,2.520527,NaN,NaN,0.061994,0.238019,1.803747,4.146355,0.633102,...,NaN,2.584614,9.230769,2.020401,5.041795,2.908976,5.196553,2.403454,NaN,1.118879
18,NaN,0.593728,1.196832,NaN,1.443119,1.234363,0.188064,0.968503,0.984831,0.799993,...,NaN,2.068486,NaN,0.766509,0.500714,4.526571,0.041454,1.337574,0.000000,0.407925
19,NaN,0.538313,0.705615,NaN,NaN,2.607059,2.176173,3.842970,0.934621,0.374392,...,NaN,0.669932,NaN,1.741725,0.643562,0.076064,NaN,0.270389,NaN,2.848056
2,NaN,0.100934,4.955181,NaN,0.962079,2.633931,0.873589,2.005550,0.765122,0.389602,...,4.248406,0.425354,NaN,0.095482,0.446918,0.076064,0.012755,0.240345,NaN,0.489510
20,NaN,1.584221,0.317527,NaN,1.860864,2.105280,1.196197,0.654561,0.890828,0.796879,...,0.393371,0.000000,NaN,0.127309,0.055865,0.931781,0.000000,0.216311,0.595554,0.470313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NaN,1.257790,0.401870,NaN,0.144312,1.528279,1.713736,1.992461,0.751362,0.388067,...,NaN,0.455926,NaN,0.561659,0.766145,0.724417,0.000000,0.847071,NaN,0.372960
73,NaN,0.449614,6.677790,NaN,NaN,0.962526,0.070524,0.902842,0.847519,0.656168,...,NaN,0.031015,NaN,0.515603,0.643775,1.369148,0.186545,0.060086,0.595554,1.571870
74,NaN,0.269157,0.740896,NaN,NaN,0.061994,4.795640,0.298059,4.781280,6.010468,...,NaN,2.704828,NaN,3.998823,2.338224,1.369148,14.378167,0.721036,0.000000,3.786094
75,NaN,0.824292,0.000000,NaN,NaN,0.000000,0.052893,0.481781,0.427108,0.735787,...,NaN,0.595495,NaN,0.023871,0.476713,0.076064,0.082909,0.360518,1.191109,0.979019
76,NaN,0.129772,1.231261,NaN,5.313301,0.024109,0.282096,0.975704,0.466963,0.108223,...,NaN,6.484279,0.000000,5.832412,1.468196,0.684574,9.287067,2.190147,0.000000,0.950886
77,NaN,0.741644,0.564492,NaN,NaN,0.289304,0.141048,0.197530,0.488953,0.120326,...,NaN,2.251716,NaN,0.793236,0.609106,0.896170,1.203514,7.554666,0.595554,0.803298
78,NaN,0.033645,0.763507,NaN,0.360780,2.204219,0.380830,1.538457,0.082315,0.277478,...,NaN,0.062031,9.230769,0.095482,NaN,0.000000,0.055273,0.000000,NaN,2.614902
79,NaN,0.033645,0.039691,NaN,NaN,0.267874,0.158679,0.235155,0.289750,1.367837,...,NaN,NaN,NaN,0.076386,0.446918,0.342287,0.165818,0.000000,0.297777,0.881117
8,NaN,0.302801,3.577766,NaN,8.746175,6.020099,0.241797,2.384473,0.419103,0.829707,...,NaN,3.524473,NaN,2.167586,3.358797,4.261877,3.006616,4.369916,2.084440,0.261072
80,NaN,0.293626,1.529420,NaN,NaN,0.000000,0.483594,0.246913,0.517831,0.402522,...,NaN,0.046523,NaN,0.359462,0.297945,0.202837,4.663618,1.605944,0.397036,0.679874
81,NaN,0.194103,0.009923,NaN,NaN,1.422833,0.292946,0.779725,0.177472,0.313073,...,NaN,0.886675,NaN,1.077157,0.223459,2.520477,0.442180,0.512737,0.148889,0.000000
82,NaN,0.100934,0.079382,NaN,NaN,NaN,0.158679,0.172839,1.063707,0.002706,...,NaN,NaN,NaN,0.577667,NaN,NaN,0.165818,0.695285,9.954264,NaN
83,NaN,0.129772,0.026461,NaN,2.164678,0.667223,0.987338,0.094966,0.419103,1.321189,...,2.360225,0.000000,NaN,0.047741,0.037243,0.486808,NaN,0.160230,1.191109,0.000000
84,NaN,0.050467,0.211684,NaN,12.527073,0.514318,0.777298,0.065843,0.718601,0.399182,...,NaN,0.093046,NaN,0.023871,0.178767,0.086930,0.041454,0.040058,3.176290,0.217560
85,NaN,0.229395,0.079382,NaN,NaN,1.718289,1.765535,0.049383,0.291475,0.704575,...,NaN,0.000000,NaN,0.000000,0.037243,0.050709,NaN,0.240345,NaN,0.108780
86,NaN,0.230706,0.853837,NaN,0.000000,0.914343,2.268180,0.667652,4.188034,1.502749,...,NaN,0.000000,NaN,0.641852,2.236061,0.000000,NaN,0.154508,3.741635,0.290080
87,NaN,0.134578,0.105842,NaN,NaN,0.064290,0.060449,0.287781,0.676084,0.443959,...,NaN,0.000000,NaN,0.214835,0.342172,0.405673,NaN,0.120173,1.240738,0.326340
88,NaN,0.642789,5.258396,NaN,NaN,1.578021,1.032130,1.026131,0.778704,0.941964,...,NaN,0.209354,NaN,0.095482,1.764151,0.456383,0.165818,0.320461,0.297777,2.116409
89,NaN,0.227101,0.178609,NaN,NaN,0.000000,0.017631,0.669830,0.299097,0.684246,...,NaN,0.595495,NaN,0.107417,0.487547,0.076064,0.033164,0.180259,1.191109,0.435120
9,NaN,9.173310,0.745306,NaN,NaN,1.677730,2.133354,2.191468,5.787629,1.395645,...,NaN,2.643355,9.230769,0.549977,0.364983,1.120212,1.193886,0.824041,4.083801,1.838380
90,NaN,0.322988,0.357218,NaN,NaN,NaN,0.338516,0.088889,0.081492,0.966020,...,NaN,0.775384,NaN,0.000000,0.497704,0.456383,0.477945,0.000000,0.397036,0.081585
91,NaN,0.033645,0.000000,NaN,NaN,0.032145,1.349313,0.088183,1.717898,5.266414,...,NaN,NaN,NaN,0.127309,0.148973,0.152128,NaN,NaN,1.339997,0.000000
92,NaN,0.681303,NaN,NaN,NaN,0.077148,0.504040,0.314489,0.930317,0.322474,...,NaN,0.297748,NaN,0.000000,0.055865,0.000000,0.000000,0.967104,0.000000,0.081585
93,NaN,1.704962,4.393543,NaN,0.000000,0.638170,1.332906,1.306169,0.883651,0.096286,...,0.000000,0.893243,NaN,3.270844,0.983220,3.409686,4.696037,6.070580,0.595554,1.118879
94,NaN,1.301325,0.026461,NaN,0.962079,0.173582,0.942459,0.049383,0.243471,0.270557,...,2.360225,0.082708,NaN,0.552432,0.018622,2.716564,2.274069,0.811166,1.339997,0.534010
95,NaN,0.494575,0.317527,NaN,0.360780,0.507330,0.241797,0.410255,0.552115,0.318054,...,NaN,2.826275,NaN,1.193526,2.462908,2.704902,0.325002,1.060835,0.000000,1.898704
96,NaN,0.549528,0.814124,NaN,1.443119,4.066543,0.812630,0.166666,0.190542,0.522736,...,NaN,0.000000,NaN,NaN,0.456229,0.273830,NaN,0.120173,NaN,1.165499
97,NaN,0.363362,0.756461,NaN,NaN,0.000000,0.901482,2.800939,0.943197,0.690175,...,NaN,1.501144,NaN,1.050303,0.482831,0.560106,0.373089,0.463523,0.595554,3.366452
98,NaN,0.322988,1.984542,NaN,NaN,0.603609,0.203435,0.806582,1.095990,0.728853,...,NaN,0.186092,NaN,1.276631,1.117295,0.000000,0.082909,0.969393,NaN,0.108780
99,NaN,0.100934,0.362888,NaN,NaN,1.278231,0.282096,0.499999,0.044577,0.189390,...,7.375705,0.669932,NaN,0.214835,0.587795,0.000000,NaN,0.040058,NaN,1.236656